@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Raleway:wght@300&display=swap");

body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: Lato;
  color: white;
}
main {
  margin: auto;
  max-width: 80em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}
#year {
  position: fixed;
  left: 0.25em;
  bottom: 0.25em;
  text-shadow: 0.1em 0.1em black;
  font-size: 300%;
  font-family: Raleway;
}
.bookmark {
  margin: 1.5em;
  display: flex;
}

.position {
  margin-right: 0.75em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.position span {
  text-shadow: 0.1em 0.1em black;
  font-size: 150%;
  font-family: Raleway;
}

.middle {
  width: 10em;
  text-align: center;
}
.cover {
  box-shadow: 0 0 1em #000000c0;
  width: 100%;
  aspect-ratio: 1;
}
img.cover {
  object-fit: cover;
}
div.cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.cover span {
  user-select: none;
  font-size: 500%;
  color: gray;
}
.title {
  text-shadow: 0.1em 0.1em black;
}
.author {
  font-size: 80%;
  font-variant: petite-caps;
  font-family: Montserrat;
  color: gray;
}

.score {
  margin-left: 0.5em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score span {
  font-size: 80%;
  color: gray;
}
